spring:
  datasource:
    url: jdbc:oracle:thin:@localhost:1521:orcl
    username: root
    password: 1234
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 50
